@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/transitions";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";

@import "~bootstrap/scss/images";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/forms/form-control";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";

//@import "~bootstrap/scss/helpers/position";

@import "~bootstrap/scss/utilities/api";

html {
    scroll-behavior: smooth;
}

body {
    //font-family: "Raleway", $font-family-sans-serif;
}

nav .nav-link {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

.bg-newsic, #demo {
    background:#9ba766;
}

#main {
    background:#4d4d4d;
}

#features {
    background:#6a6a6a;
}

#opensource {
    background:#5fbcd3;
}

$opacity_start: 0.7;
$opacity_end: 1;
$transition_speed: 0.5s;

$shadow_input: #e6e6e6 1px 1px,
#e6e6e6 2px 2px,
#e6e6e6 3px 3px,
#e6e6e6 4px 4px;

$shadow_bar: #595959 1px 1px,
#595959 2px 2px,
#595959 3px 3px,
#595959 4px 4px;

/* Autocomplete */

#autocomplete {
    display: flex;
}

#autocomplete-result {
    align-self: flex-start;
    position: absolute;
    background: rgba(#e6e6e6, 0.85);
    box-shadow: 0px 20px 61px -3px rgba(#000, 0.6);
    padding: 0;
    z-index: 1000;

    a {
        padding: 2% 3% 2% 3%;
        display: flex;
        align-items: center;
        color: #7a7a7a;
        background: #fff;
        transition: opacity $transition_speed ease;
        opacity: $opacity_start;
        justify-content: space-between;
        text-decoration: none;

        &:hover, &:focus, &.selected {
            cursor: pointer;
            opacity: $opacity_end;
            text-decoration: none;
        }

        .sub {
            font-weight: 400;
            font-size: 0.9em;
        }

        img {
            max-width: 25%;
        }
    }

    span.noresults {
        padding: 2% 3% 2% 3%;
        color: #7a7a7a;
        background: #fff;
        display: flex;
    }
}

/* Animations */

.flash {
    animation-name: flash;
    animation-duration: 4s; 
    animation-fill-mode: both; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite;
}

@keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
}

form {
    .flash {
        visibility: hidden;
    }
}